# Using Spark right away ... ensuring scalability
- Spark seems to be an overkill for simple projects.
- However, small projects often very quickly outgrow the laptop.
- Avoid the pain of scaling up.

## Why Spark?
1. Spark operates on Resilent Distributed Datasets (RDDs) that can be used to represent data tables.
2. The same code for local environment (laptop) and cluster.
3. Spark's concept of "transformations" (e.g. "map") and "actions" (e.g. "reduce") makes it easy to wirte parallel programs.
4. A lot of the ETL work can be taken care of in fairly intuitive ways.
4. Spark + Hive supports SQL queries on data tables. Sometimes, SQL offers the most elegant way.
5. Spark has it's own machine learning library
6. In local mode Spark reads from regular file system; on the cluster it usually reads from HDFS.

## We need Java...
Install the latest JDK (... I use Oracle, old habit)

## Spark Installation
Use HomeBrew on OS X or package manager for Linux
<pre>
$ brew install apache-spark
</pre>

Try it out:
<pre>
$ pyspark
...
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 1.6.2
      /_/

Using Python version 2.7.12 (default, Jul  2 2016 17:43:17)
SparkContext available as sc, HiveContext available as sqlContext.
>>>
</pre>

Spark used Python 2 by default...hence, the driver program should be running Python 2 as well...

## Jupyter Notebook
This makes it a bit more complicated. There are tons of post of the Internet, but they seem to be obsolete in about 17 days on average....

Here are some fairly pedestrian steps:
1. Create a Python 2 environment using anaconda, and activate since we need to install things...
<pre>
$ conda create -n python2 python=2.7 anaconda
$ source  activate python2
</pre>
2. Install a magic tool called "findspark"...
<pre>
$ pip install findspark
</pre>

The Jupyter Notebook shoud now offer an additional kernel for this environment.

## Install JDBC
While we're at it, let's download a JDBC driver and store it somewhere. Mine is at
<pre>
/opt/sqljdbc_4.0/enu/sqljdbc4.jar
</pre>

# Get it running ...
While the <code>pyspark</code> takes care of all the prep work we need to do some of it manually in the notebook.

In [1]:
import platform
platform.python_version()

'2.7.12'

In [4]:
import os
import sys

###os.environ['SPARK_PREPEND_CLASSES']='/opt/sqljdbc_4.0/enu/sqljdbc4.jar'
os.environ['SPARK_CLASSPATH']='/opt/sqljdbc_4.0/enu/sqljdbc4.jar'
import findspark

findspark.init()

import py4j
import pyspark
from pyspark.sql import SQLContext, Row
from pyspark import SparkConf, SparkContext

The following lines define where to run Spark:

In [ ]:
conf = SparkConf().setMaster("local").setAppName("My App")
# sc = SparkContext()
sc = SparkContext(conf = conf)

In [6]:
sc.version

u'1.6.2'

In [7]:
query = """(SELECT top 100
	p.ParseID
	,c.Measure AS City
	,s.Measure AS State
FROM
	(
	SELECT
		ParseID
	FROM
		dbo.ParsedData
	WHERE
			ProfileID = 84
		AND MeasureType = 'position'
		AND Measure = 'search_input'
	) AS p

	INNER JOIN	(
				SELECT
					ParseID
					,Measure
				FROM
					dbo.ParsedData
				WHERE
					MeasureType = 'city'
				) AS c ON
		p.ParseID = c.ParseID

	INNER JOIN	(
				SELECT
					ParseID
					,Measure
				FROM
					dbo.ParsedData
				WHERE
					MeasureType = 'state'
				) AS s ON
		p.ParseID = s.ParseID) as pd
"""

In [8]:
sqlctx = SQLContext(sc)
df = sqlctx.read.jdbc("jdbc:sqlserver://warehouse:1433;databaseName=Staging;user=***;password=***", query)

In [31]:
print df.printSchema()

root
 |-- ParseID: long (nullable = true)
 |-- City: string (nullable = false)
 |-- State: string (nullable = false)

None

In [10]:
df.toPandas()

,ParseID,City,State
0,20160719000046278,Winter-Haven,Florida
1,20160719000052396,Texas-State-University---San-Marcos,Texas
2,20160719000062181,Berkeley,California
3,20160719000166357,Portland,Oregon
4,20160719000288190,Salt-Lake-City,Utah
5,20160719000297070,Glenside,Pennsylvania
6,20160719000001923,Edgerton,Wisconsin
7,20160719000002925,Apple-Valley,Minnesota
8,20160719000019371,Independence,Missouri
9,20160719000040670,Orlando,Florida
10,20160719000088294,Lebanon,Tennessee
11,20160719000096188,San-Francisco,California
12,20160719000110633,Seattle,Washington
13,20160719000120913,Hampton,Virginia
14,20160719000135265,Redlands,California
15,20160719000154539,Sturgis,Michigan
16,20160719000213722,Inglewood,California
17,20160719000002375,Appleton,Wisconsin
18,20160719000003295,Roy,Utah
19,20160719000089255,Tempe,Arizona
20,20160719000111558,Brentwood,Tennessee
21,20160719000230272,Riverdale,Georgia
22,20160719000267907,Edwardsville,Illinois
23,20160719000327279,Hollywood,California
24,20160719000387294,Cleveland,Ohio
25,20160719000395597,Kansas-City,Kansas
26,20160719000002385,San-Francisco,California
27,20160719000003410,Los-Angeles,California
28,20160719000017804,Boston,Massachusetts
29,20160719000060594,Tempe,Arizona
...,...,...,...
70,20160719000099503,Claremont,California
71,20160719000183461,Houston,Texas
72,20160719000211910,Corpus-Christi,Texas
73,20160719000268467,Los-Angeles,California
74,20160719000297736,Broomfield,Colorado
75,20160719000002620,Voorhees,New-Jersey
76,20160719000005162,Hartford,Connecticut
77,20160719000074361,Columbus,Ohio
78,20160719000099314,Gordonsville,Tennessee
79,20160719000104880,Washington,District-of-Columbia
80,20160719000116866,Washington,District-of-Columbia
81,20160719000123771,Park-Hills,Missouri
82,20160719000277455,Salt-Lake-City,Utah
83,20160719000306355,Tustin,California
84,20160719000324162,Mission-Viejo,California
85,20160719000370294,Northridge,California
86,20160719000387319,Northridge,California
87,20160719000406116,Hinsdale,Illinois
88,20160719000060592,Peachtree-City,Georgia
89,20160719000120331,Austin,Texas
90,20160719000144706,Costa-Mesa,California
91,20160719000148045,Bunnell,Florida
92,20160719000224020,Carnegie Mellon University,Pennsylvania
93,20160719000245556,Vandalia,Ohio
94,20160719000277381,Gulf-Breeze,Florida
95,20160719000006749,Chester,Virginia
96,20160719000075226,Los-Angeles,California
97,20160719000088012,Orange-County,California
98,20160719000106098,Hampton,Virginia
99,20160719000115390,Takoma-Park,Maryland

# Twitter
Let's work on some Twitter data...just a small set of 1,000 records, have 170,000,000

In [15]:
tweets = sc.textFile('cache-0-json_first1k.txt')
tweets.take(1)

[u'{"text":"Obama vies for health care edge in Florida - http:\\/\\/t.co\\/OcISvreb http:\\/\\/t.co\\/FsJ7xgGW #florida","in_reply_to_user_id":null,"truncated":false,"id_str":"244907511377965056","retweeted":false,"in_reply_to_status_id_str":null,"source":"<a href=\\"http:\\/\\/twitterfeed.com\\" rel=\\"nofollow\\">twitterfeed<\\/a>","possibly_sensitive":false,"entities":{"hashtags":[{"text":"florida","indices":[87,95]}],"urls":[{"indices":[45,65],"display_url":"STLtoday.com","expanded_url":"http:\\/\\/STLtoday.com","url":"http:\\/\\/t.co\\/OcISvreb"},{"indices":[66,86],"display_url":"bit.ly\\/Tzhmly","expanded_url":"http:\\/\\/bit.ly\\/Tzhmly","url":"http:\\/\\/t.co\\/FsJ7xgGW"}],"user_mentions":[]},"in_reply_to_screen_name":null,"in_reply_to_status_id":null,"in_reply_to_user_id_str":null,"place":null,"contributors":null,"coordinates":null,"created_at":"Sun Sep 09 21:17:55 +0000 2012","favorited":false,"possibly_sensitive_editable":true,"user":{"follow_request_sent":null,"contributors_enabled":false,"location":"","profile_sidebar_border_color":"C0DEED","profile_image_url_https":"https:\\/\\/si0.twimg.com\\/profile_images\\/1166515929\\/florida_normal.jpg","id_str":"215440345","listed_count":116,"verified":false,"show_all_inline_media":false,"profile_use_background_image":true,"profile_image_url":"http:\\/\\/a0.twimg.com\\/profile_images\\/1166515929\\/florida_normal.jpg","description":"","default_profile":true,"statuses_count":78777,"profile_text_color":"333333","followers_count":3214,"lang":"en","profile_background_image_url":"http:\\/\\/a0.twimg.com\\/images\\/themes\\/theme1\\/bg.png","time_zone":"Central Time (US & Canada)","screen_name":"FLnewswire","geo_enabled":false,"profile_link_color":"0084B4","profile_background_image_url_https":"https:\\/\\/si0.twimg.com\\/images\\/themes\\/theme1\\/bg.png","created_at":"Sat Nov 13 23:19:24 +0000 2010","protected":false,"default_profile_image":false,"following":null,"notifications":null,"friends_count":2258,"profile_background_color":"C0DEED","url":null,"name":"Florida News","is_translator":false,"profile_background_tile":false,"favourites_count":0,"id":215440345,"utc_offset":-21600,"profile_sidebar_fill_color":"DDEEF6"},"retweet_count":0,"id":244907511377965056,"geo":null}']

In [16]:
def extract_hashtags(tw):
    import json
    return json.loads(tw)['entities']['hashtags']

hashtags = tweets.map(extract_hashtags)
hashtags.take(5)

[[{u'indices': [87, 95], u'text': u'florida'}],
 [{u'indices': [88, 92], u'text': u'USA'},
  {u'indices': [93, 101], u'text': u'cottage'},
  {u'indices': [102, 110], u'text': u'awesome'}],
 [{u'indices': [104, 112], u'text': u'florida'}],
 [],
 []]

In [18]:
hashtags = tweets.flatMap(extract_hashtags)
hashtags.take(5)

[{u'indices': [87, 95], u'text': u'florida'},
 {u'indices': [88, 92], u'text': u'USA'},
 {u'indices': [93, 101], u'text': u'cottage'},
 {u'indices': [102, 110], u'text': u'awesome'},
 {u'indices': [104, 112], u'text': u'florida'}]

In [19]:
tuples = hashtags.map(lambda x: (x['text'], 1))
tuples.take(5)

[(u'florida', 1),
 (u'USA', 1),
 (u'cottage', 1),
 (u'awesome', 1),
 (u'florida', 1)]

In [20]:
counts = tuples.reduceByKey(lambda a, b: a+b)
counts.take(5)

[(u'SQUADD', 1),
 (u'ObamaInFL', 1),
 (u'Collegiate', 1),
 (u'september', 1),
 (u'money', 1)]

In [23]:
topcounts = counts.map(lambda t: (t[1], t[0])).sortByKey(False)
topcounts.take(10)

[(18, u'USA'),
 (14, u'Obama'),
 (12, u'tcot'),
 (6, u'p2'),
 (5, u'ThingsNobodyWouldSay'),
 (5, u'obama'),
 (4, u'IFWT'),
 (3, u'Sports'),
 (3, u'election'),
 (3, u'Amazon')]

In [27]:
topcntdf = sqlctx.createDataFrame(topcounts)
topcntdf.take(5)

[Row(_1=18, _2=u'USA'),
 Row(_1=14, _2=u'Obama'),
 Row(_1=12, _2=u'tcot'),
 Row(_1=6, _2=u'p2'),
 Row(_1=5, _2=u'ThingsNobodyWouldSay')]

In [30]:
topcntdf.printSchema()

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)

In [28]:
topcntdf.toPandas()

     _1                    _2
0    18                   USA
1    14                 Obama
2    12                  tcot
3     6                    p2
4     5  ThingsNobodyWouldSay
5     5                 obama
6     4                  IFWT
7     3                Sports
8     3              election
9     3                Amazon
10    3                  news
11    3               florida
12    3                    UK
13    3             Obama2012
14    3             president
15    2              Mitt2012
16    2                    RT
17    2                 woman
18    2           AreYouBette
19    2                 OBAMA
20    2                  jews
21    2                   gop
22    2                  TCOT
23    2                   NFL
24    2            HottyToddy
25    2                   dnc
26    2                jewish
27    2                  WxNE
28    2              teaparty
29    2               forward
..   ..                   ...
238   1                 RR201
239   1              Resist44
240   1                   LRT
241   1                brazil
242   1                   ABD
243   1               BTRFact
244   1                UsOpen
245   1        TeamFollowBack
246   1                  bcot
247   1             Fukushima
248   1              Monsanto
249   1                 MrEBT
250   1         EJvideoseries
251   1              Obama2VT
252   1                   GOP
253   1           inspiration
254   1             Galveston
255   1                  WxMN
256   1                  day8
257   1        BlametheBigman
258   1                 Egypt
259   1        RomneyRyan2012
260   1                    EU
261   1           FollowNGain
262   1               Chicago
263   1             Democrats
264   1     jirodreamsofsushi
265   1                  OHio
266   1          electricgoat
267   1                   wow

[268 rows x 2 columns]